.container {
    width: 100%;
    height: 400px;
    background-color: aqua;
}

.container-section-promo{
   display: flex;
   width: 70%;
   margin: 100px auto;
   align-items: center;
}

.item-article{
    width: 30%;
    height: 100px;
    background-color: orange;
}

.Reto2{
    background: tan;
}

.publish h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #025157;
}

.publish > p {
    font-size: 14px;
    color: #343434;
    margin-bottom: 10px;

}

.publish > form p {
    color: #025157;
    margin-right: 10px;
}

.suscribe {
    background-color: #025157;
    color: white;
}

.Reto4, .publish{
    display: flex;
    flex-direction: column;
    align-items: center;
}